section{border: 2px solid red;}
div{border: 2px solid blue;}
p{border: 2px solid pink;}
h1{border: 2px solid yellow;}
main{border: 2px solid pink;}

body {
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  background-color: black;
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.nameTitle{
  margin-left: 2vw;
  /* margin-bottom: 0px; */
  font-size: 9vw;
}

main {
  font-family: 'Ubuntu', sans-serif;
  background-color: RGBA(128,128,128,0.5);
  color: white;

  margin-top: 5%;
  width: 84vw;
  height: 93vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.flexMe{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slides{
  width: 75vw;
  height: auto;
  margin: auto;
  margin-bottom:2%;
  max-width: 500px;
  /*max-height: 400px;*/
}

.slideAnimation{
  animation-name:fade;
  animation-duration: 15s;
}

.slideText h1{
  margin-top: 2%;
}

.slideText {
  /*padding: 0px 10px;*/
  font-size: 90%;
  width: 75vw;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

nav {
  margin-right: 0;
  /*margin-left: 5%;*/
  margin-top: auto;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  width: inherit;
}

nav button {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  flex-grow: 1;
  border-radius: 10px;
  text-decoration: none;
  opacity: 0.5;
  background-color: #001942;
  margin: 2%;
}

nav button:hover {
  opacity: 1;
}

.pausePlay{
  margin: 0 auto;
}

.pauseButton{
  display: none;
}

section{
  flex: 1;
  justify-content: center;
  align-items: center;
}

.map {
  height: 500px;
  width: auto;
  /*width: 1500px;*/
}

/*ANIMATION ITEMS START*/
@keyframes fade {
  0% {transform: translateX(-350%);}
  15% {transform: translateX(0%);}
  90% {transform: translateX(0%);}
  100% {transform: translateX(-350%);}
}

.spaceship {
  position: fixed;
  left: 85%;
  animation: fly 10s linear infinite;
}

@keyframes fly {
  0% {transform: translateY(110%);}
  100% {transform: translateY(-10%);}
}
/*
@keyframes flicker{
  0%   {transform: rotate(-10deg);}
  20%  {transform: rotate(10deg);}
  40%  {transform: rotate(-10deg);}
  60%  {transform: rotate(10deg) scaleY(1.04);}
  80%  {transform: rotate(-10deg) scaleY(0.92);}
  100% {transform: rotate(10deg);}
}
.spaceship_fire{
  transform-origin:center top;
  animation-name: flicker;
  animation-duration:500ms;
  animation-delay:200ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
*/
/*ANIMATION ITEMS END*/

/*SPACESHIP PARTS COLOURS START*/
.shipBody{fill: #4AA0D8;}
.shipBase{fill: #397AA7;}
.shipFins{fill: #CCCCCC;}
.shipFireInner{fill: #FFCC67;}
.shipFireOuter{fill: #ED7061;}
/*SPACESHIP PARTS COLOURS START*/

/*MEDIA QUERIES START*/

/*CHANGE SLIDES WIDTH AND HEIGHT IN MEDIA QUERIES*/

@media only screen and (min-width: 420px) {
  body{background-color: blue;}
  .slides{width: 70vw;}
  .slidetext{font-size: 85%; width: 75vw; height: 75vw;}
}

@media only screen and (min-width: 440px) {
  body{background-color: pink;}
  .slides{width: 60vw;}
  .slidetext{font-size: 80%; width: 75vw; height: 75vw;}
}

@media only screen and (min-width: 505px) {
  body{background-color: brown;}
  .slides{width: 50vw;}
  .slidetext{font-size: 70%; width: 75vw; height: 75vw;}
}

@media only screen and (min-width: 580px) {
  body{background-color: red;}
  .slides{width: 40vw;}
  .slidetext{font-size: 60%; width: 75vw; height: 75vw;}
  .nameTitle{margin-top: 0.5vw;
}

@media only screen and (min-width: 700px) {
  body{background-color: green;}
  main{margin-top: 3%;}
  .centre{margin-top: 3%;}
  .nameTitle{margin-bottom: 10px;}
  }

@media only screen and (min-width: 850px) {
  body{background-color: pink;}
  .nameTitle{font-size: 7vw;}
  .flexMe{flex-direction: row;}
  .

}





/*MEDIA QUERIES END*/
