body {
  margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

svg {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

main {
	font-family: 'Oxygen', sans-serif;
	position: absolute;
	top: 10%;
	width: 85%;
	background-color: RGBA(128,128,128,0.5);
	color: white;
}

.centre{
	display: flex;
	flex-direction: column;
	margin: 2em auto;
	width: 85%;
	position: static;
}

.slidetext {
	padding: 0px 10px;
	font-size: 36px;
	overflow: ellipsis;
	height: 15em;
}

nav {
  margin-right: 0;
  margin-left: 0;
  margin-top: auto;
  margin-bottom: 20px;
  padding: 0;
  overflow: hidden;
  display: flex;
  font-size: 2em;
  position: absolute;
  bottom: 0;
  width: inherit;
}

nav button {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  flex-grow: 1;
  border-radius: 10px;
  text-decoration: none;
  opacity: 0.5;
  background-color: #001942;
  width: 33%;
	margin: 10px;
}

nav button:hover {
  opacity: 1;
}

.slides{
  width: 100%;
  height: auto;
animation-name:fade;
animation-duration: 3s;
}
@keyframes fade{
0%{opacity:0.0;}
100%{opacity:1;}
}

@keyframes fly {
	0% {transform: translateY(30%);}
	100% {transform: translateY(-130%);}
}

.spaceship{
	animation: fly 8s infinite;
	fill: grey;
}








