body {
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  background-color: black;
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

main {
  font-family: 'Ubuntu', sans-serif;
  width: 85%;
  background-color: RGBA(128,128,128,0.5);
  color: white;
}

.centre{
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  margin: 2em auto;
  width: 90%;
}

.slides{
  width: 100%;
  height: auto;
  animation-name:fade;
  animation-duration: 15s;
  margin: 0 auto;
}

.slideText {
  padding: 0px 10px;
  font-size: 100%;
  animation-name:fade;
  animation-duration: 15s;
}

nav {
  margin-right: 0;
  margin-left: 5%;
  margin-top: auto;
  margin-bottom: 20px;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  width: inherit;
}

nav button {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  flex-grow: 1;
  border-radius: 10px;
  text-decoration: none;
  opacity: 0.5;
  background-color: #001942;
  margin: 10px;
}

nav button:hover {
  opacity: 1;
}

.pausePlay{
  margin: 0 auto;
}

section{
  flex: 1;
  justify-content: center;
  align-items: center;
}

/*ANIMATION ITEMS START*/
@keyframes fade {
  0% {transform: translateX(-350%);}
  15% {transform: translateX(0%);}
  90% {transform: translateX(0%);}
  100% {transform: translateX(-350%);}
}

.spaceship {
  position: fixed;
  left: 90%;
  animation: fly 10s linear infinite;
}

@keyframes fly {
  0% {transform: translateY(110%);}
  100% {transform: translateY(-10%);}
}
/*
@keyframes flicker{
  0%   {transform: rotate(-10deg);}
  20%  {transform: rotate(10deg);}
  40%  {transform: rotate(-10deg);}
  60%  {transform: rotate(10deg) scaleY(1.04);}
  80%  {transform: rotate(-10deg) scaleY(0.92);}
  100% {transform: rotate(10deg);}
}
.spaceship_fire{
  transform-origin:center top;
  animation-name: flicker;
  animation-duration:500ms;
  animation-delay:200ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
*/
/*ANIMATION ITEMS END*/

/*SPACESHIP PARTS COLOURS START*/
.shipBody{fill: #4AA0D8;}
.shipBase{fill: #397AA7;}
.shipFins{fill: #CCCCCC;}
.shipFireInner{fill: #FFCC67;}
.shipFireOuter{fill: #ED7061;}
/*SPACESHIP PARTS COLOURS START*/

/*MEDIA QUERIES START*/
@media only screen and (min-width: 565px) {
  .slides{
    width: 80%;
  }
  .slidetext {
    font-size: 100%;
  }
}

@media only screen and (min-width: 725px) {
  .slides{
    width: 65%;
  }
  .slidetext {
    font-size: 110%;
  }
}

@media only screen and (min-width: 950px) {
  .slides{
    width: 65%;
  }
  .slidetext {
    font-size: 95%;
  }
}

@media only screen and (min-width: 975px) {
  .slides{
    width: 100%;
  }
  .slidetext {
    font-size: 150%;
  }
  .centre{
    flex-direction: row;
    margin-top: 7%;
    padding-top: 2%;
  }
}

@media only screen and (min-width: 1500px) {
  .slides{
    width: 95%;
  }
  .slidetext {
    font-size: 200%;
  }
  .centre{
    margin-top: 1.5em;
    padding-top: 3%;
  }
}
/*MEDIA QUERIES END*/
